.about-us-container {
  width: 100%;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  background: url("../../components/HomeComponents/AboutUS/im1.png");
  color: white;
}

.content-container {
  display: flex;
  justify-content: space-between;
  /* This will push the two divs to the sides */
  max-width: 1100px;
  margin: 0 auto;
}

.text-container {
  flex: 1;
  padding: 10px;
  text-align: left;
  /* Align heading to the left */
}

.heading {
  font-size: 4.5em;
  margin-bottom: 20px;
  color: #6c5c73;
}

.mission-statement {
  flex: 2;
  padding: 10px;
  text-align: left;
  /* Align paragraph to the right */
}

.mission-statement p {
  font-size: 2em;
  line-height: 1.5;
  color: #6c5c73;
}