.signup-container {
    background-color: rgb(207, 199, 199);
    position: relative;
    left: -100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
}

.signup-box {
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 520px;
    width: 100%;
    padding: 30px;
    overflow-y: auto;
}

h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #333333;
    text-align: center;
}


p {
    font-size: 1.2rem;
    color: #333333;
}

.SNFailMessage {
    color: red;
    font-size: 16px;
    text-align: center;
}

.SNFailMessage1 {
    color: red;
    margin-top: 30px;
    font-size: 16px;
    text-align: center;
}

.sn-signup {
    margin-top: 20px;
}

h2 {
    color: #6c5c73;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}

h3 {
    color: #6c5c73;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    margin-bottom: 1rem;

}

label {
    color: #333333;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.divider {
    border: 0.1px dashed #a4a0a0;
    margin: 20px 0;
    margin-bottom: -10px;
    width: 100%;
}

#email {
    background: url("email.png");
    background-size: 25px 25px;
    /* Adjust the size of the background image */
    background-repeat: no-repeat;
    background-position: 5px 8px;
    /* Adjust the position of the background image */
    width: 100%;
    padding: 15px 15px 15px 35px;
    /* Add padding to create space around the background image */
    margin: 10px 0;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 12px;
    color: black;
}

#username {
    background: url("user.png");
    background-size: 25px 25px;
    /* Adjust the size of the background image */
    background-repeat: no-repeat;
    background-position: 5px 8px;
    /* Adjust the position of the background image */
    width: 100%;
    padding: 15px 15px 15px 35px;
    /* Add padding to create space around the background image */
    margin: 10px 0;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 12px;
    color: black;
}

#firstName {
    background: url("name_last.png");
    background-size: 25px 25px;
    /* Adjust the size of the background image */
    background-repeat: no-repeat;
    background-position: 5px 8px;
    /* Adjust the position of the background image */
    width: 100%;
    padding: 15px 15px 15px 35px;
    /* Add padding to create space around the background image */
    margin: 10px 0;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 12px;
    color: black;
}

#lastName {
    background: url("name_last.png");
    background-size: 25px 25px;
    /* Adjust the size of the background image */
    background-repeat: no-repeat;
    background-position: 5px 8px;
    /* Adjust the position of the background image */
    width: 100%;
    padding: 15px 15px 15px 35px;
    /* Add padding to create space around the background image */
    margin: 10px 0;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 12px;
    color: black;
}

#guardian_full_name {
    background: url("name_last.png");
    background-size: 25px 25px;
    /* Adjust the size of the background image */
    background-repeat: no-repeat;
    background-position: 5px 8px;
    /* Adjust the position of the background image */
    width: 100%;
    padding: 15px 15px 15px 35px;
    /* Add padding to create space around the background image */
    margin: 10px 0;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 12px;
    color: black;
}

#dependent_full_name {
    background: url("name_last.png");
    background-size: 25px 25px;
    /* Adjust the size of the background image */
    background-repeat: no-repeat;
    background-position: 5px 8px;
    /* Adjust the position of the background image */
    width: 100%;
    padding: 15px 15px 15px 35px;
    /* Add padding to create space around the background image */
    margin: 10px 0;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 12px;
    color: black;
}

#password {
    background: url("padlock.png");
    background-size: 25px 25px;
    /* Adjust the size of the background image */
    background-repeat: no-repeat;
    background-position: 5px 8px;
    /* Adjust the position of the background image */
    width: 100%;
    padding: 15px 15px 15px 35px;
    /* Add padding to create space around the background image */
    margin: 10px 0;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 12px;
    color: black;
}

#confirm_password {
    background: url("confirmPass.png");
    background-size: 25px 25px;
    /* Adjust the size of the background image */
    background-repeat: no-repeat;
    background-position: 5px 8px;
    /* Adjust the position of the background image */
    width: 100%;
    padding: 15px 15px 15px 35px;
    /* Add padding to create space around the background image */
    margin: 10px 0;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 12px;
    color: black;
}

#phoneNumber {
    background: url("phone.png");
    background-size: 25px 25px;
    /* Adjust the size of the background image */
    background-repeat: no-repeat;
    background-position: 5px 8px;
    /* Adjust the position of the background image */
    width: 100%;
    padding: 15px 15px 15px 35px;
    /* Add padding to create space around the background image */
    margin: 10px 0;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 12px;
    color: black;
}



input:focus {
    outline-color: #b457c7;
    outline-width: 0.2rem;
    outline-style: solid;
    border: none;
}

.addSNbutton,
.register,
.saveBtn {
    width: 100%;
    padding: 10px 20px;
    background-color: #916ba1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    margin-top: 30px;
}

.addSNbutton:hover,
.register:hover,
.saveBtn:hover {
    background-color: #8671a5;
}

.signup-link p {
    color: #6c5c73;
    margin-top: 25px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.signup-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-link .login {
    color: #6c5c73;
}

.signup-link a:hover {
    color: #8671a5;
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}

.signup-link a {
    color: #000000;
    text-decoration: none;
    font-size: 1.2rem;
}

.animalPhoto {
    width: 60px;
    height: 60px;
}

#animalPasswordPhotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

/* outer div */
.animalPhoto img {
    width: 60px;
    height: 60px;
    border-radius: 4px;
}

.animalPhoto.selected img {
    border: 3px solid blue;
    /* Add blue border when selected */
}

.savedSNUser {
    display: flex;
    justify-content: space-between;
    /* This separates the <p> and button */
    align-items: center;
    /* This centers them vertically */
    padding: 10px;
    /* Adds some padding inside each user item for better spacing */
    border-bottom: 1px solid #ddd;
    /* Optional: adds a separator between items */
}

.deleteSNUser {
    margin-top: 0px;
    width: 50px;
    margin-left: 10px;
    /* Ensures some space between the button and the text */
    cursor: pointer;
    /* Makes it clear the button is clickable */
    background-color: #161212;
    /* Button background color for delete, consider a red tone */
    color: white;
    /* Text color */
    border: none;
    /* Removes border */
    border-radius: 4px;
    /* Rounds corners */
    padding: 5px 10px;
    /* Padding inside the button */
}

.deleteSNUser:hover {
    background-color: #ff2e2e;
    /* Slightly darker on hover for feedback */
}