.signup-container {
    top: 100px;
    background-image: url("./bg.png");
    background-size: cover;

    align-items: center;
    justify-content: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* Increase margin by 30% */
}

.savedSNUser {
    width: 100%;
    height: 40px;
    background-color: grey;
    border-radius: 5px;
    text-align: left;
    padding: 10px;
    display: flex;
    align-items: center;
    margin-top: 10px;


}

.savedSNUser:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.deleteSNUser {
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
}

h2 {
    padding: 15px;
}

p {
    color: #ffffff;
    font-size: 1.3em;
    /* Increase font size by 30% */
}

.signup-box {
    background-color: #adadad;
    /* Increase padding by 30% */
    border-radius: 16px;
    /* Increased border-radius for rounded corners */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 520px;
    /* Increase max-width by 30% */
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 15px;
    overflow-y: scroll;


}


.SNFailMessage {
    color: red;
}

.sn-signup {
    display: flex;
    flex-direction: column;
}

/* form {

} */

label {
    margin-bottom: 10px;
    /* Increase margin by 30% */
    color: rgb(255, 255, 255);
}

input {
    padding: 13px;
    /* Increase padding by 30% */
    margin-bottom: 20px;
    /* Increase margin by 30% */
    border: 1px solid #ccc;
    border-radius: 10px;
    /* Rounded corners for input boxes */
    color: #000;
}

button {

    width: 50%;
    margin: 0 auto;
    margin-top: 2rem;
    background-color: rgb(201, 113, 66);
    color: #fff;
    padding: 13px;
    /* Increase padding by 30% */
    border: none;
    border-radius: 5px;
    /* Increase border-radius by 30% */
    cursor: pointer;
}

button:hover {
    background-color: #fff;
    color: #000000;
}

.signup-link {
    margin-top: 26px;
    /* Increase margin by 30% */
}

/* .signup-link-text p {
    color: black;
} */


.signup-link a:hover {
    text-decoration: underline;

}

.signup-link a {
    color: #000000;

    text-decoration: none;
    font-size: 1.1em;
    /* Increase font size by 30% */
}