* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: black;
  box-sizing: border-box;
}
.navBar {
  display: flex;
  background-color: #f6f4f2;
  align-items: center;
  padding: 0.2rem;
  border: auto;
  font-size: 1.4rem;
}

body {
  padding: 0.5rem;
}

.homeLink {
  margin-left: 2rem;
  margin-right: auto;
}

.userSpecificButtons {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  margin-left: 8rem;
  margin-right: auto;
  align-items: center;
  white-space: nowrap;
}

.loginButton {
 
 margin-right: 2rem;
}

.navBar a:hover {
  text-decoration: underline;
  color: black;
}

.olliLogo {
  width: 5.2rem;
  height: 5.2rem;
  background-color: rgba(255, 255, 255, 0.5);
}
.signUpButton{
  white-space: nowrap;
}
