#ContactUsDiv {
  background-color: #f2eadc;
  height: auto;
  min-height: 100vh;
  padding: 1rem;
}

#widgets {
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin-top: -1.2rem;
  margin-left: -1.8rem;
  margin-right: -1.5rem;
}

#widgets>* {
  padding: 10px;
  align-self: flex-end;
}

.contact-info-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 400px;
}

.contact-info-item {
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  transition: transform 0.3s ease-in-out;
}

.contact-info-item:hover {
  transform: translateY(-5px);
}

.contact-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

#ContactTitle {
  display: block;
  font-size: 70px;
  font-weight: 600;
  background-image: linear-gradient(to left, #6c5c73, #b393d3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-align: center;
  margin-left: 2rem;
  margin-top: 2rem;
}

.header1 {
  margin-top: 3%;
  text-align: center;
}

.header2 {
  text-align: center;
  margin-bottom: 2%;
}

#SalesSupportContainer,
#CustomerSupportContainer {
  display: inline-block;
  width: 30%;
  min-height: 21.6vh;
  vertical-align: top;
  background-color: white;
  padding: 10px;
  margin-left: 19%;
  border-radius: 15px;
  border: 2px solid black;
}

#CustomerSupportContainer {
  margin-left: 2%;
}

#SalesDiv,
#SupportDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

#SalesDiv p,
#SupportDiv p {
  text-align: center;
  margin-bottom: 10px;
}

#SupportDiv button {
  background-color: #6c5c73;
  color: white;
  width: 50%;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
}

#SupportDiv button:hover {
  background-color: #b393d3;
}

.contact-divider {
  align-self: flex-start;
  border: 0.1px solid #6c5c73;
  width: 100%;
  margin-top: 3%;
}

.headquarterTitle {
  font-size: 2.5rem;
  text-align: left;
  margin-top: 8%;
  margin-left: 8%;
  margin-bottom: 8%;
}

.province {
  font-size: 1.5rem;
  margin-top: 8%;
  margin-left: 8%;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

#HeadquartersDiv .address {
  font-size: 1rem;
  margin-top: 2%;
  margin-left: 8%;
  font-family: 'Roboto', sans-serif;
}

#HeadquartersDiv .gmail,
#HeadquartersDiv .phone {
  font-family: 'Roboto', sans-serif;
  margin-left: 8%;
  margin-top: 2%;
  font-size: 1rem;
}

#HeadquartersAndMapContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
}

.map-image {
  width: 50%;
  margin-top: 4%;
  margin-right: 4%;
  border-radius: 15px;
  border: 2px solid #6c5c73;
}

#HeadquartersDiv {
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  padding: 10px;
  margin-top: 4%;
  margin-left: 4%;
  border-radius: 15px;
  background-color: white;
  border: 2px solid #6c5c73;
}

.contact-info {
  flex-wrap: wrap;
  align-items: center;
  margin-left: 8%;
  margin-top: 2%;
  flex-grow: 1;
}

.info-item {
  display: flex;
  align-items: center;
}

.info-item p {
  margin-bottom: 2%;
  font-size: 1rem;
}

.facebook-icon,
/* Class added for FacebookIcon */
.location,
.mail,
.phones {
  width: 64px;
  /* Set width */
  height: 64px;
  /* Set height */
  border-radius: 50%;
  margin-right: 5px;
  margin-bottom: 1.5%;
}

/* Ensure FacebookShareButton directly wraps the FacebookIcon without extra padding */
.FacebookShareButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  /* Override if necessary */
}

.address,
.gmail,
.phone {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: bold;
}