#containAllWorkers {
	display: flex;
	flex-wrap: wrap;
	/* Allow items to wrap to next line */
	align-items: center;
	/* Center items vertically */
	justify-content: center;
}

.team-member:hover {
	cursor: pointer;
}

.team-member {

	position: relative;
	width: 300px;
	height: 450px;
	perspective: 1000px;
	margin: 1rem;
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	transform-style: preserve-3d;
	transition: transform 1200ms;
	perspective: 1000px;
	box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;

}

.team-member.clicked {
	transform: rotateY(180deg);
}

/* 
.team-member:hover {

} */

.contact-info {
	margin-top: 100%;
}


.front,
.back {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.front {
	border-radius: 5px;
	z-index: 1;
	background-color: #f0f0f0;

	text-align: center;

}

.front img {
	border-radius: 5px;
}

.front :hover {
	cursor: pointer;
}




.back {
	border-radius: 5px;
	transform: rotateY(180deg);
	background-color: #fff;
	padding: 20px;
	text-align: center;
	color: black;
}



.photo {
	width: 100%;
	/* Adjust photo size */
	height: 100%;
	/* Adjust photo size */

}

.position {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 5px;
	/* Reduce space below */
	margin-top: 0;
	/* Reset top margin */
	color: black;
	position: relative;
	bottom: 5rem;

	text-shadow:
		-1px -1px 0 white,
		1px -1px 0 white,
		-1px 1px 0 white,
		1px 1px 0 white;
}

.name {
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 5px;
	/* Reduce space below */
	margin-top: 0;
	/* Reset top margin */
	color: black;
	position: relative;
	bottom: 5rem;
	text-shadow:
		-1px -1px 0 white,
		1px -1px 0 white,
		-1px 1px 0 white,
		1px 1px 0 white;
}

.info {
	font-size: 16px;
	margin-bottom: 10px;
	color: black;

}

.cellNumber,
.email {
	margin-top: 5px;
	font-size: 14px;
	color: black;
}