#containAllWorkers {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.team-member:hover {
	cursor: pointer;
}

.team-member {
	position: relative;
	width: 300px;
	/* Adjust width */
	height: 400px;
	/* Adjust height */
	perspective: 1000px;
	margin: 30px;
	/* Adjust margin */
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	/* Adjust border radius */
	transform-style: preserve-3d;
	transition: 1200ms;
	box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, #6c5c73 6px 2px 16px 2px;
}

.team-member.clicked {
	transform: rotateY(180deg);
}

.contact-info {
	margin-top: auto;
}

.front,
.back {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	/* Adjust border radius */
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.front {
	background-color: black;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.front img {
	border-radius: 30%;
	border: 2px solid #b570d1;
	/* Add border with specified color */
	width: 160px;
	/* Adjust image width */
	height: 180px;
	/* Adjust image height */
	margin-bottom: 2%;
}


.position {
	font-weight: bold;
	margin-top: 2%;
	font-family: 'Roboto', sans-serif;
	/* Example of a clean and modern font */
	font-size: 20px;
	/* Adjust font size as needed */
	color: white;
	/* Adjust color for better contrast */
}

.name {
	margin-top: 4%;
	font-style: italic;
	font-family: 'Montserrat', sans-serif;
	/* Another example of a bold and modern font */
	font-size: 24px;
	/* Adjust font size as needed */
	color: #b570d1;
	/* Adjust color for better contrast */
}


.back {
	background-color: #f9f9f9;
	/* Light background color */
	padding: 20px;
	text-align: left;
	/* Align text to the left */
	color: #333;
	/* Darker text color for better contrast */
	transform: rotateY(180deg);
	border-radius: 10px;
	/* Rounded corners for a softer look */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	/* Subtle box shadow for depth */
	font-family: 'Roboto', sans-serif;
	/* Example of a clean and modern font */
}

.workerinfo {
	font-weight: bold;
	width: 100%;
	font-size: 14px;
	/* Maintain font size for readability */
	margin-top: 50%;
	margin-bottom: 15px;
	/* Maintain bottom margin for spacing */
	line-height: 1.6;
	/* Increase line height for better text spacing */
}

.cellNumber,
.email {
	margin-top: 10px;
	/* Maintain top margin for spacing */
	font-size: 12px;
	/* Maintain font size for readability */
	color: #666;
	/* Maintain text color */
}

.email:hover,
.cellNumber:hover {
	text-decoration: underline;
	/* Underline text on hover */
}