.news h1 {
  color: black;
  text-align: center;
  justify-content: center;
  margin-right: 10rem;
  font-size: 75px;
  color: #6c5c73;
}


.news {
  display: flex;
  flex-direction: row;
  /* Default to horizontal layout */
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f2eadc;
}

.pdf-container {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

@media screen and (max-width: 900px) {
  .news {
    flex-direction: column;
    /* Switch to vertical layout on smaller screens */
    height: auto;
    /* Allow height to adjust based on content */
  }

  .pdf-container {
    margin-top: 20px;
    /* Add space between news header and PDF container */
  }
}



.react-pdf__Page {
  width: 100%;
  /* Ensure the page fills the container horizontally */
  height: 100%;
  /* Ensure the page fills the container vertically */
}