/* events.css */

.events-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* Added for vertical alignment */
    margin-top: 20px;
}

.event-card {
    width: 150%;
    /* Adjusted width */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto 0 -5rem;
    /* Center horizontally */
    background-color: #f9f9f9;
}

.event-card h2 {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.event-card p {
    color: #666;
    margin-bottom: 5px;
}

.event-image {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.event-image:hover {
    transform: scale(1.05);
}

.events {
    background-color: white;

}