.admin-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}

.admin-title {
    margin-top: 3rem;
    color: #6c5c73;
    font-size: 24px;
    margin-bottom: 20px;
}

.user-container {
    background-color: #d5d5d5;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.user-container:hover {
    background-color: #bcbcbc;
}

.user-info {
    margin-top: 10px;
}

.user-info .input {
    width: 100%; /* Adjusting for padding */
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #6c5c73;
    border-radius: 5px;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.editButtons {
    background-color: #6c5c73;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

.editButtons:hover {
    background-color: #4b3f50; /* Darken the button on hover */
}

.editButtons:not(:disabled):hover {
    cursor: pointer;
}
