.imageSliderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.custom-image-size {
    height: 40rem;
    /* Set the desired height */
    width: 90rem;
    /* Set the desired width */
}