.cheers-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 1%;
    background: #eeefef;
    min-height: 100vh;
}

.cheer-container {
    width: 30%;
    margin-bottom: 20px;
    padding: 0 1rem;
    /* Added padding */
}

.image-container {
    text-align: center;
    margin-bottom: 1rem;
    /* Added margin bottom */
    margin-top: 1rem;
}

.image-container img {
    max-width: 90%;
    height: auto;
    border-radius: 2rem;
}

.text-container {
    padding: 0 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.text-container:hover {
    border: 1px solid #000;
    border-radius: 1rem;
    padding: 5px;
}

.text-container h2 {
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    /* Select a serif font with a classic feel */
    font-style: normal;
    /* Ensure the title is not italicized */
    font-weight: bold;
    /* Make the title bold for emphasis */
    font-size: 1.6em;
    margin-bottom: 1rem;
    /* Added margin bottom */
    color: #6c5c73;
}

.text-container p {
    font-family: 'Helvetica', Arial, sans-serif;
    /* Select a common sans-serif font stack */
    font-style: normal;
    /* Ensure the passage text is not italicized */
    font-weight: normal;
    /* Use normal font weight for the passage */
    font-size: 1.4em;
    line-height: 1.5;
    color: #6c5c73;
}