.cheers-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0 auto;
    background: url("../../components/HomeComponents/AboutUS/image2.jpg");

}

.cheer-container {
    width: 30%;
    margin-bottom: 20px;
    padding: 0 1rem;
    /* Added padding */
}

.image-container {
    text-align: center;
    margin-bottom: 1rem;
    /* Added margin bottom */
    margin-top: 1rem;
}

.image-container img {
    max-width: 90%;
    height: auto;
}

.text-container {
    padding: 0 10px;
}

.text-container h2 {
    font-size: 1.6em;
    margin-bottom: 1rem;
    /* Added margin bottom */
    color: #6c5c73;
}

.text-container p {
    font-size: 1.4em;
    line-height: 1.5;
    color: #6c5c73;
}