.game-container {
    margin: 6.1rem auto 20px;
    padding: 20px;
    max-width: 400px;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
  }
  
  .game-container h2 {
    margin-bottom: 15px;
    font-size: 24px;
    color: black; /* Darken the text color for better readability */
  }
  
  .gameBtn-container {
    display: flex;
    flex-direction: column;
  }
  
  .gameBtn {
    margin-bottom: 10px;
    padding: 12px 24px; /* Increase button padding for better touch experience */
    font-size: 18px; /* Increase font size for better visibility */
    background-color: #6c5c73;
    color: #fff;
    border: none;
    border-radius: 8px; /* Increase border radius for rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add transition for smoother hover effect */
  }
  
  .gameBtn:hover {
    background-color: #4b3f50;
  }
  
  .gameBtn:focus {
    outline: none;
  }
  