.login-container {
  display: flex;
  flex-grow: 1;
  /* Allow the container to grow to occupy available space */
  min-height: 100vh;
  /* Ensure the container covers the entire viewport height */
  background-color: rgb(207, 199, 199);
  position: relative;
  overflow-x: hidden;
}

.signup-page {
  width: 50%;
  /* Set the width for the left half of the screen */
  position: relative;
  /* Set position to relative */
  z-index: 2;
  /* Ensure it's above the stripe-pattern */
  transition: transform 1s ease;
  /* Transition when moved onto the screen */
}

.stripe-pattern {
  position: absolute;
  z-index: 1;
  width: 50%;
  /* Set the width for the right half of the screen */
  height: 100%;
  transform: translateX(-100%);
  transition: transform 1s ease;
  background-image: repeating-linear-gradient(45deg,
      #6c5c73,
      #6c5c73 50px,
      #f4eddd 50px,
      #f4eddd 100px,
      #dfafa0 100px,
      #dfafa0 150px,
      #f4eddd 150px,
      #f4eddd 200px,
      #da7959 200px,
      #da7959 250px,
      #f4eddd 250px,
      #f4eddd 300px);
}

.move-right {
  transform: translateX(100%);
  transition: transform 1s ease;
}

.mounted {
  transform: translateX(0);
}

.login-form {
  padding: 20px;
  width: 50%;
  margin-top: 50px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 1s ease;
}

.login-form .divider {
  border: 0.1px dashed #a4a0a0;
  margin: 20px 0;
  width: 80%;
}

.login-form .sign-in-with-images-btn {
  width: 80%;
  padding: 10px 20px;
  background-color: #916ba1;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  margin-top: 8px;
}

.login-form .sign-in-with-images-btn:hover {
  background-color: #8671a5;
}


.logo {
  margin-top: 0rem;
  width: 6rem;
  /* Adjust the width to match the size of the text */
  height: auto;
  /* Let the height adjust proportionally */
  margin-right: 0rem;
  /* Adjust the margin-right to move the logo to the right */
}

.login-form h1 {
  color: #6c5c73;
  margin-top: 1rem;
  margin-bottom: 20px;
}

.login-form p {
  color: #6c5c73;
  margin-top: 25px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 18px;
}

.login-form .remember-me {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin-top: 10px;
}

.login-form .sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  /* Adjust as needed */
}

.login-form .sign-up p {
  color: #6c5c73;
  margin-top: 10px;
  /* Adjust as needed */
}


.login-form a {
  color: #6c5c73;
}

#email1 {
  background: url("email.png");
  background-size: 25px 25px; /* Adjust the size of the background image */
  background-repeat: no-repeat;
  background-color: white;
  background-position: 5px 8px; /* Adjust the position of the background image */
  width: 80%;
  padding: 15px 15px 15px 35px; /* Add padding to create space around the background image */
  margin: 10px 0;
  border: 1px solid #000000;
  border-radius: 5px;
  font-size: 12px;
  color: black;
}

#pass1 {
  background: url("padlock.png");
  background-size: 25px 25px; /* Adjust the size of the background image */
  background-repeat: no-repeat;
  background-color: white;
  background-position: 5px 8px; /* Adjust the position of the background image */
  width: 80%;
  padding: 15px 15px 15px 35px; /* Add padding to create space around the background image */
  margin: 10px 0;
  border: 1px solid #000000;
  border-radius: 5px;
  font-size: 12px;
  color: black;
}

.login-form input:focus {
  outline-color: #b457c7;
  outline-width: 0.2rem;
  outline-style: solid;
  border: none;
}


.login-form button {
  width: 80%;
  padding: 10px 20px;
  background-color: #916ba1;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  margin-top: 30px;
}

.login-form button:hover {
  background-color: #8671a5;
  border: none;
  color: white;
}


/* Add hover effects for Reset password and Sign up links */
.login-form .remember-me a:hover,
.sign-up a:hover {
  color: #8671a5;
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}